@keyframes fill {
  0%, 25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
body {
  max-width: 1440px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-family: "roboto", sans-serif;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#barre_recherche {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  box-shadow: 0px 5px 5px -3px #aaa inset;
}
#barre_recherche input {
  border: none;
  margin-left: 15px;
  font-size: 1.1em;
  background-color: #EAEAEA;
}

#haut_de_page {
  background-color: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
#haut_de_page h2 {
  margin-top: 0px;
  font-size: 1.6em;
}
#haut_de_page button {
  display: block;
  margin: auto;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  padding: 15px 20px 15px 20px;
  text-align: center;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0px 3px 6px #aaa;
  color: white;
}
#haut_de_page button:hover {
  background: linear-gradient(#ae80e5, #fface8);
}

.fonctionnement {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fonctionnement h2 {
  padding-left: 15px;
}
.fonctionnement .fonctionnement__tousetape {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement .fonctionnement__tousetape .fonctionnement__etape {
  background-color: #F2F2F2;
  border-radius: 17px;
  box-shadow: 1px 3px 10px #aaa;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  font-weight: bold;
  width: 320px;
}
.fonctionnement .fonctionnement__tousetape .fonctionnement__etape:hover {
  background-color: #f2eafb;
}
.fonctionnement .fonctionnement__tousetape .fonctionnement__etape:hover i {
  color: #9356DC;
}
.fonctionnement .fonctionnement__tousetape .fonctionnement__etape i {
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
}
.fonctionnement .fonctionnement__tousetape .fonctionnement__etape b {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  margin-left: -15px;
}

#restaurants h2 {
  padding-left: 15px;
}
#restaurants .restaurant__touscadre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants .restaurant__touscadre .restaurant__grandcadre {
  border-radius: 20px;
  box-shadow: 0px 3px 6px #aaa;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 320px;
}
#restaurants .restaurant__touscadre .restaurant__grandcadre img {
  height: 150px;
  width: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
#restaurants .restaurant__touscadre .restaurant__grandcadre .restaurant__petitcadre {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 15px 10px;
}
#restaurants .restaurant__touscadre .restaurant__grandcadre .restaurant__petitcadre a {
  color: black;
  text-decoration: none;
}
#restaurants .restaurant__touscadre .restaurant__grandcadre .restaurant__petitcadre .fa-heart {
  font-size: 1.3em;
}
#restaurants .restaurant__touscadre .restaurant__grandcadre .restaurant__petitcadre .fa-heart:hover {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(#782cd3, #ff46cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fill 1s ease;
}
#restaurants .restaurant__touscadre .restaurant__grandcadre .restaurant__petitcadre span {
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  width: auto;
}
footer span {
  font-style: italic;
  font-weight: bold;
}
@media (min-width: 768px) {
  footer span {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
footer .liens {
  margin-top: 10px;
}
@media (min-width: 768px) {
  footer .liens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
  }
}
footer .liens a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=P3_accueil.css.map */
