@keyframes fill_heart {
  0%, 25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress_menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes encoche {
  from {
    transform: translateX(20%) rotate(-200deg);
  }
  to {
    transform: translateX(0) rotate(0deg);
  }
}
body {
  max-width: 1440px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
}

header {
  padding-top: 15px;
  padding-right: 35px;
  padding-bottom: 15px;
}
header span {
  float: left;
  margin-top: 8px;
  margin-left: 20px;
}
header span a {
  color: black;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#banniere .restaurant {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media (min-width: 768px) {
  #banniere .restaurant {
    height: 400px;
    object-fit: cover;
  }
}

main {
  width: 100%;
  max-width: 1440px;
  margin-top: -45px;
}

.menu {
  background-color: #F2F2F2;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 50px;
}
.menu .menu_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 1.2em;
}
.menu .menu_titre h2 {
  font-style: italic;
  font-weight: bold;
}
.menu .menu_titre .fa-heart {
  font-size: 1.3em;
}
.menu .menu_titre .fa-heart:hover {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(#782cd3, #ff46cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fill_heart 1s ease;
}
.menu .menu_selection h5 {
  margin-bottom: 0px;
  margin-left: 15px;
}
.menu .menu_selection .bordure {
  border-bottom: 2px solid #99E2D0;
  width: 35px;
  margin-left: 15px;
  margin-top: 5px;
}
.menu .menu_selection .touschoix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu .menu_selection .touschoix .choix {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #aaa;
  width: 340px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: progress_menu 1000ms both;
}
.menu .menu_selection .touschoix .choix:nth-child(2) {
  animation: progress_menu 1000ms 250ms both;
}
.menu .menu_selection .touschoix .choix:nth-child(3) {
  animation: progress_menu 1000ms 500ms both;
}
.menu .menu_selection .touschoix .choix:nth-child(4) {
  animation: progress_menu 1000ms 750ms both;
}
.menu .menu_selection .touschoix .choix:hover {
  cursor: pointer;
}
.menu .menu_selection .touschoix .choix:hover .animation {
  width: 80px;
}
.menu .menu_selection .touschoix .choix:hover .animation .fa-check-circle {
  animation: encoche 1000ms;
}
.menu .menu_selection .touschoix .choix .description {
  padding: 15px 10px 15px 10px;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .menu_selection .touschoix .choix .description span {
  font-weight: bold;
}
.menu .menu_selection .touschoix .choix .prix {
  padding-top: 36px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 0.8em;
}
.menu .menu_selection .touschoix .choix .animation {
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scale(1);
  padding-top: 20px;
  color: white;
  font-size: 1.2em;
  text-align: center;
  overflow: hidden;
  transition: width 1000ms;
  width: 0px;
}
.menu .menu_selection .touschoix .choix .animation .fa-check-circle {
  display: inline-block;
}
.menu button {
  display: block;
  margin: auto;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 3px 6px #aaa;
  color: white;
}
.menu button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 5px 8px #aaa;
  cursor: pointer;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  width: auto;
}
footer span {
  font-style: italic;
  font-weight: bold;
}
@media (min-width: 768px) {
  footer span {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
footer .liens {
  margin-top: 10px;
}
@media (min-width: 768px) {
  footer .liens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
  }
}
footer .liens a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=P3_menu.css.map */
