$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire :#99E2D0;
$primaire_dark : lighten($color: $primaire, $amount: 5);
$secondaire_dark : lighten($color: $secondaire, $amount: 5);
$menu_dur : 1000ms;

@keyframes fill_heart {
  0%,25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity : 0.75;}
  100% {opacity: 1;}
}

@keyframes progress_menu {
  from {opacity: 0}
  to {opacity: 1;}
}  

@keyframes encoche {
  from {transform : translateX(20%) rotate(-200deg)}
  to {transform: translateX(0) rotate(0deg)}
}  


body {
  max-width: 1440px;
  margin-top : 0px;
  margin-left : auto;
  margin-right : auto;
  align-items : center;
  font-family: 'Libre Franklin', sans-serif;
}

header {
  padding-top: 15px;
  padding-right: 35px;
  padding-bottom: 15px;

  span {
    float: left;
    margin-top: 8px;
    margin-left: 20px;
    a {
      color: black;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }
}


#banniere {
  .restaurant {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 250px;
    object-fit: cover;
    @media (min-width : 768px) {
      height : 400px;
      object-fit: cover;
    }
  }
}


main {
  width: 100%;
  max-width: 1440px;
  margin-top: -45px;
}



.menu {    
  background-color: #F2F2F2;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 50px;

  .menu_titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 1.2em;

    h2 {
      font-style: italic;
      font-weight: bold;
    }

    .fa-heart {
      font-size: 1.3em;
    }

    .fa-heart:active {
      cursor: pointer;
      font-weight: bold; 
      background: linear-gradient(darken($primaire, 10), darken($secondaire, 10));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation : fill_heart 1s ease; 
    }
  }

  .menu_selection {
    h5 {
      margin-bottom: 0px;
      margin-left : 15px;
    }

    .bordure {
      border-bottom : 2px solid $tertiaire;
      width: 35px;
      margin-left : 15px;
      margin-top : 5px;
    }

    .touschoix{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;


      .choix {
        background-color: white; 
        border-radius: 15px;
        box-shadow: 0px 3px 6px #aaa;
        width : 340px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        animation: progress_menu 1000ms both;
        &:nth-child(2) {animation: progress_menu $menu_dur $menu_dur*0.25 both}
        &:nth-child(3) {animation: progress_menu $menu_dur $menu_dur*0.5 both}
        &:nth-child(4) {animation: progress_menu $menu_dur $menu_dur*0.75 both}
        &:active {
          cursor: pointer;
          .animation {
            width: 80px;
            cursor: pointer;
            .fa-check-circle {
              animation: encoche 1000ms;
            } 
          }  
        }
    
        .description {
          padding : 15px 10px 15px 10px;
          width: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        
          span {
            font-weight: bold;                                 
          }
        }

        .prix {
          padding-top : 36px;
          padding-right : 20px;
          font-weight: bold;
          font-size: 0.8em;
        }

        .animation {
          width: 0px;
          background-color: $tertiaire;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          transform: scale(1);
          padding-top: 20px;
          color : white;
          font-size: 1.2em;
          text-align: center; 
          overflow: hidden;
          transition : width 1000ms;
          .fa-check-circle {
            display: inline-block;
          }
        } 
      }  
    }
  }
    
  button {
    display: block;
    margin : auto;
    border: none;
    border-radius: 15px;
    margin-top: 30px; 
    padding: 10px 30px 10px 30px;
    text-align: center;
    background: linear-gradient($secondaire, $primaire);
    box-shadow: 0px 3px 6px #aaa;
    color: white;

    &:hover {
      background: linear-gradient(lighten($secondaire, 5), lighten($primaire, 5));
      box-shadow: 0px 5px 8px #aaa;
      cursor: pointer;
    }
  }
}


footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding-top : 15px;
  padding-left : 15px;
  padding-bottom : 20px;
  width: auto;

  span {
    font-style: italic;
    font-weight: bold; 
    @media (min-width : 768px) {
      text-align: center;
    margin-left: auto;
    margin-right: auto;}
  }

  .liens {
    margin-top: 10px;
    @media (min-width : 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;}

    a {
      color: white;
      text-decoration: none;
    }
  }
}
