$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire : #99E2D0;
$primaire_light : lighten($color: $primaire, $amount: 5);
$secondaire_light : lighten($color: $secondaire, $amount: 5);
$grisfonce :#EAEAEA;
$grisclair :#F2F2F2;
$policetext : 'roboto', sans-serif;
$loader_dur : 2000ms;
$loader_container_delay : $loader_dur;


@keyframes fill_heart {
  0%,25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity : 0.75;}
  100% {opacity: 1;}
}

@keyframes loader_container {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-9999px);}

}
@keyframes loader {
  0% {transform: translate(-50%,-50%) rotate(0deg);}
  100% {transform: translate(-50%,-50%) rotate(360deg);}
}   


body {
  max-width: 1440px;
  margin-top : 0px;
  margin-left : auto;
  margin-right : auto;
  align-items : center;
  font-family: $policetext;
}


.loader_container {
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
  z-index : 1;
  background-color: rgb(128, 128, 128, 0.5);
  animation : loader_container 0ms $loader_container_delay forwards;

  .loader {
    position: absolute;
    top : 50%;
    left : 50%;
    height: 120px;
    width : 120px;
    border-radius: 50%;
    border-top: 16px double $secondaire;
    border-bottom : 16px double $primaire;
    animation : loader $loader_dur linear infinite; 
  }
}


header {
  img {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  }

  #barre_recherche {
    display: flex;
    justify-content: center;
    background-color: $grisfonce;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    box-shadow: 0px 5px 5px -3px #aaa inset;

    input {
      border: none; 
      margin-left: 15px;
      font-size: 1.1em;
      background-color: $grisfonce; 
    }
  }

  #haut_de_page {
    background-color: $grisclair;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left : 30px;
    padding-right: 30px;
    text-align: center;

    h2 {
      margin-top : 0px;
      font-size: 1.6em;
    }  

    button {
      display: block;
      margin : auto;
      border: none;
      border-radius: 30px;
      margin-top: 30px;
      padding: 15px 20px 15px 20px;
      text-align: center;
      background: linear-gradient($secondaire, $primaire);
      box-shadow: 0px 3px 6px #aaa;
      color: white;
      &:hover {
        background: linear-gradient(lighten($secondaire, 5),lighten($primaire, 5));
        box-shadow: 0px 5px 8px #aaa;
        cursor: pointer;
      }
    }
  }
}


.fonctionnement {
  padding-top: 20px;
  padding-bottom: 20px;
  
  h2 {
    padding-left: 15px;
  }

  .fonctionnement__tousetape {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .fonctionnement__etape {
      background-color: #F2F2F2; 
      border-radius: 17px;
      box-shadow: 1px 3px 10px #aaa;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 20px;
      font-weight: bold;
      width : 320px;
      &:hover {
        background-color: lighten($primaire, 35);
        i {color: $primaire;}
      }

      i {
        color: gray;
        padding-left: 20px;
        padding-right: 20px;
      }  

      b {
        color: white;
        background-color: $primaire;
        border-radius: 50%;
        padding: 5px 10px 5px 10px;
        margin-left: -15px;
      }
    }
  }
}


#restaurants {
  h2 {
    padding-left: 15px;
  }

  .image {
    position: relative;
    span {
      position: absolute;
      top : 15px;
      right: 15px;
      padding: 5px 10px 5px 10px;
      color: darken($tertiaire, 40);
      background-color: $tertiaire;
      font-weight: bold;
      font-size: 00.8em;
    }
  }

  .restaurant__touscadre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width : 768px) {
      justify-content: space-around;
   }
  
    .restaurant__grandcadre {
      border-radius: 20px;
      box-shadow: 0px 3px 6px #aaa;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 15px;
      width: 320px;
      @media (min-width : 1095px) {
        width: auto;
        margin-bottom: 50px;
     }

      img {
        height: 150px;
        width: 320px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;

        @media (max-width : 320px) {
          height: 130px;
          width: 280px;
        }

       @media (min-width : 1096px) {
          height: 250px;
          width: 500px;
        }
      }

      .restaurant__petitcadre {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 15px 10px;
        
        a {
          color: black;
        text-decoration: none;  
        }
      
        .fa-heart {
          font-size: 1.3em;
        }
          
        .fa-heart:hover {
          cursor: pointer;
          font-weight: bold; 
          background: linear-gradient(darken($primaire, 10), darken($secondaire, 10));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation : fill_heart 1s ease; 
        }                                                                                                 
                                                                                            
        span {
          font-weight: bold;
          margin-bottom: 20px;
          cursor: pointer;
        }                                                                     
      }
    }
  }
}


footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding-top : 15px;
  padding-left : 15px;
  padding-bottom : 20px;
  width: auto;

  span {
    font-style: italic;
    font-weight: bold; 
    @media (min-width : 768px) {
      text-align: center;
    margin-left: auto;
    margin-right: auto;}
  }

  .liens {
    margin-top: 10px;
    @media (min-width : 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;}

    a {
      color: white;
      text-decoration: none;
    }
  }
}


